<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="musicPlayer.properties"/>


    <bean id="musicRap"
          class="com.andreyev.springcourse.RapMusic">
    </bean>

    <bean id="musicClassic"
          class="com.andreyev.springcourse.ClassicalMusic">
    </bean>

    <bean id="musicRock"
          class="com.andreyev.springcourse.RockMusic">
    </bean>


    <bean id="musicPlayer"
          class="com.andreyev.springcourse.MusicPlayer" scope="prototype">

        <!--зависимость с помощью setter через ArrayList-->
        <property name="musicList">
            <list>
                <ref bean="musicClassic"></ref>
                <ref bean="musicRap"></ref>
                <ref bean="musicRock"></ref>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"></property> <!--значение с помощью setter-->
        <property name="volume" value="${musicPlayer.volume}"></property>
    </bean>

</beans>